@use 'base/variables' as v;
@use 'base/mixins' as m;

.planes {
    background-color: v.$secundario;

    &__heading {
        @include m.hBorder(v.$blanco, v.$primario);
    }

    &__descripcion {
        color: v.$blanco;
    }
}

.plan {
    flex-grow: 1;
    background-color: v.$blanco;
    padding: 16rem 4rem 4rem 4rem;
    margin-bottom: 1rem;

    @include m.tablet { 
        border: none;
        transition-property: transform;
        transition-duration: 300ms;

        &:hover {
            transform: scale(1.1);
        }
     }

    

    &.nuestrosPlanes__negocio {
            order: -1;

            @include m.tablet { 
                order: unset;
             }
        }
}

.nuestrosPlanes {

    display: flex;
    flex-direction: column;

    @include m.tablet { 
        flex-direction: row;
        justify-content: center;
        max-width: 80rem;
        margin-inline: auto;
        margin-block-start: 10rem;
     }

    &__inicio {
        @include m.icono('../img/icono_inicio.svg');
    }

    &__negocio {
        @include m.icono('../img/icono_negocio.svg');
        background-color: v.$primario;

        @include m.tablet { 
            margin: -5rem 0;
            border-radius: 2rem;
            background-position: 50% 7rem;
            padding-top: calc(16rem + 5rem);
            z-index: 1;
         }
    }

    &__pro {
        @include m.icono('../img/icono_pro.svg');

    }

    &__precio {
        font-size: 1.8rem;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__listado {
        li {
            text-align: center;
            margin-bottom: 2rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__boton {
        @include m.boton(v.$primario, v.$secundario);
        border: 2px solid v.$blanco;
        margin-top: 2rem;
        display: block;
    }
}